---
name: golangci-lint
on:
  push:
    paths:
      - go
      - .github/workflows/golangci-lint.yaml
jobs:
  go-projects:
    name: go-projects
    runs-on: ubuntu-latest
    outputs:
      projects: ${{ steps.set-projects.outputs.projects }}
    steps:
      - id: set-projects
        run: |
          mapfile -d $'\0' projects < <(find go -maxdepth 1 -type d -not -path go -printf '%P\0')
          echo -n 'name=projects::['
          printf '"%s",' "${projects[@]}" | sed '$s/,$//'
          echo ']'
  golangci:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ${{fromJSON(needs.go-projects.outputs.projects)}}
    steps:
      - uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          working-directory: go/${{ matrix.project }}
